@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #f97316;
  --secondary: #fbbf24;
  --dark: #1f2937;
  --light: #f3f4f6;
}

body {
  @apply bg-gray-50 text-gray-900 font-sans;
  margin: 0;
}